.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #48afff;
    width: 100%;
    height: 10vh;
}

.nav-input {
    padding-left: 8px;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    height: 6vh;
    width: 15vw;
}

.nav-btn{
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}

.nav h1 a{
    color: white;
    padding-left: 24px;
    text-decoration: none;
}

.nav .menu ul {
    display: inline-flex;
    list-style-type: none;
    padding-right: 24px;
    margin: 0;
}

.nav .menu li a {
    text-decoration: none;
    padding-left: 16px;
    color: white;
}

.nav .nav-search {
    display: flex;
    width: 30vw;
}


.nav .nav-search input {
    color: #48afff;
    border: 1px solid #48afff;
    border-right: 0px;
}

.nav .nav-search button {
    color: #48afff;
    border: 1px solid #48afff;
    border-left: 0px;
}

li a {
    cursor: pointer;
}

.nav button{
    cursor: pointer;
}

.suggested-result {
    display: list-item !important;
    list-style-type: none;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 30vw;
    top: 56px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: unset;
}

.suggested-result li {
    height: 50px;
    padding: 5px;
    padding-top: 12px;
}

.suggested-result li a {
    cursor: pointer;
    color: #48afff;
    text-decoration: none;
}

.suggested-result li:hover{
     border: 1px solid #ddd;
     border-radius: 8px;
}

@media only screen and (max-width: 576px) {
    .nav-btn{

    }

    .nav-input {
    }
    
  }