<div class="container-fluid">
    <div class="row">
        <div class="col">
            <footer class="footer">
                <ul>
                    <li><a href="">Policies</a></li>
                    <li><a href="">Become a Seller</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Youtube</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <div class="copyright">&copy; 2023 E-Com Project</div>
            </footer>
        </div>
    </div>
</div>