<div class="container">
    <h1 *ngIf="cartData">Cart Page</h1>
    <div class="row cart" *ngFor="let cart of cartData">
        <div class="col-sm-4 image">
            <img src="{{cart.image}}" alt="">
        </div>
        <div class="col-sm-6 details">
            <ul>
                <li><p>Name : {{cart.name}}</p></li>
                <li><p>Price : {{cart.price}}</p></li>
                <li><p>Quantity : {{cart.quantity}}</p></li>
            </ul>
        </div>
        <div class="col-sm-2 btn-remove">
            <button class="remove" (click)="removeToCart(cart.id)">Remove</button>
        </div>
    </div>
        <div class="col-sm btn">
            <button class="form-btn" *ngIf="cartData" (click)="checkout()">Checkout</button>
        </div>
</div> 