<div class="container">
    <div class="row search-products" *ngIf="productData">
        <div class="col-sm-4 search-image">
            <div class="image">
                <img src="{{productData.image}} " alt="">
            </div>
        </div>
        <div class="col-sm-8 search-details">
            <div class="details">
                <p class="product-name">{{productData.name}}</p>
                <p class="product-price">Rs.{{productData.price}}</p>
                <p><b>Color:</b> {{productData.color}}</p>
                <p [style.backgroundColor]="productData.color" class="product-color"><p>
                <p><b>Category:</b> {{productData.category}}</p>
                <p class="product-description"><b>Description:</b> {{productData.description}}</p>
                <button class="form-btn product-btn" (click)="addToCart()">Add to cart</button>
                <button class="form-btn product-btn">Buy Now</button>
                <div class="quantity-group">
                    <button (click)="handleQuantity('min')">-</button>
                    <input type="text" value={{productQuantity}}>
                    <button (click)="handleQuantity('plus')">+</button>
                </div>
            </div>
        </div>
    </div>
</div>