.product-list{
    text-align: center;
}

.product-list h1{
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #48afff;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

td, th{
    text-align: center;
    border: 1px solid #c3c3c3;
    padding: 10px;
    max-width: 100px;
}

img{
    width: 100px;
    height: 100px;
}

.delete-icon{
    cursor: pointer;
    color: #dc3545;
}

.adjust-update-link{
    margin-left: 10px;
    color: #007bff;
}