<div class="container">
    <h1>{{productHeading}}</h1>
    <p class="message-p">{{productMessage}}</p>
    <div class="row product" *ngFor="let item of productList">
        <div class="col-sm-3">
            <div class="product-image">
                <img src="{{item.image}}" alt="">
            </div>
        </div>
        <div class="col-sm-4 product-details">
            <p><b>Name: </b>{{item.name}}</p>
            <p><b>Price: </b>{{item.price}}</p>
            <p><b>Color: </b>{{item.color}}</p>
        </div>
        <div class="col-sm-5 product-details">
            <p><b>Category: </b>{{item.category}}</p>
            <p><b>Description: </b>{{item.description}}</p>
            <div class="btn-upd-del">
                <a routerLink="/seller-update-product/{{item.id}}"><fa-icon class="edit" [icon]="edit"></fa-icon></a>
                <a (click)="deleteProduct(item.id)"><fa-icon class="delete" [icon]="trash"></fa-icon></a>
            </div>
        </div>

    </div>
</div>