.col-sm-4 {
    display: flex;
    align-items: center;
}
.col-sm-8 {
    display: flex;
    align-items: center;
}

.search-image {
    padding-top: 24px;
    margin-bottom: 24px;
}

.search-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.search-details {
    padding-top: 24px;
    margin-bottom: 24px;
}

.search-details .product-name {
    font-size: 24px;
    font-weight: 700;
    color: #48afff;
}

.search-details .product-price {
    font-weight: 700;
}


@media only screen and (max-width: 576px) {
    .col-sm-4 {
        width: 40vw;
        display: flex;
        align-items: center;
    }

    .col-sm-8 {
        width: 60vw;
    }

    .search-details {
        padding-left: 24px;
    }

    .search-image {
        height: -webkit-fill-available;
    }
}