<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let search of searchProduct">
            <div class="search-products">
                <div class="search-image">
                    <div class="image">
                        <a routerLink="/details/{{search.id}}"><img src="{{search.image}} " alt=""></a>
                    </div>
                </div>
                <div class="search-details">
                    <div class="details">
                        <a routerLink="/details/{{search.id}}"><div class="product-name">{{search.name}}</div></a>
                        <div class="product-price">Price: {{search.price}}</div>
                        <!-- <p>Color: {{search.color}}</p>
                        <p>Category: {{search.category}}</p>
                        <p>Description: {{search.description}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>