<ngb-carousel *ngIf="popularProducts">
	<ng-template ngbSlide *ngFor="let items of popularProducts">
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{items.id}}"><img class="carousel-header-image" src="{{items.image}}" alt="img" /></a>
		</div>
		<div class="carousel-caption">
			<h6>{{items.name}}</h6>
			<p>{{items.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="container" *ngIf="trendyProducts">
	<div class="product-list-wrapper">
		<h3>Trendy Products</h3>
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let items of trendyProducts">
				<div class="product-items">
					<div class="product-image">
						<a routerLink="/details/{{items.id}}"><img src="{{items.image}}" alt=""></a>
					</div>
					<div class="product-details">
						<div class="product-name"><p>{{items.name}}</p></div>
						<div class="product-price"><p>Rs. {{items.price}}</p></div>
					</div>
					<div class="product-footer">
						<a routerLink="/details/{{items.id}}">Details</a>
						<a href="">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>